extends layout

block content
  h1= title 

  a(href="/new") Create new message
  .content 
    each message in messages 
      .message-card 
        p= message.user 
        p= message.text 
        p= message.added

